<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="createAndWriteFile()">Create and Write</ion-button>
    <ion-button (click)="readMyFile()">Read File</ion-button>
    <br>
    <textarea name="" id="" cols="30" rows="10" [value]="stringValue"></textarea>
  </div>
</ion-content>
